[% TRY %]
    [% PROCESS "$PLUGIN_DIR/i18n/${LANG}.inc" %]
[% CATCH %]
    [% PROCESS "$PLUGIN_DIR/i18n/default.inc" %]
[% END %]
[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
<title>
    [% IF lang == 'sv-SE' %]
        [% T.configure_1 %]
    [% ELSIF lang == 'fi-FI' %]
        [% T.configure_2 %]
    [% ELSE %]
        [% T.configure_3 %]
    [% END %]
</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs">
    <a href="/cgi-bin/koha/mainpage.pl">
        [% IF lang == 'sv-SE' %]
            [% T.configure_4 %]
        [% ELSIF lang == 'fi-FI' %]
            [% T.configure_5 %]
        [% ELSE %]
            [% T.configure_6 %]
        [% END %]
    </a> &rsaquo; 
    <a href="/cgi-bin/koha/plugins/plugins-home.pl">
        [% IF lang == 'sv-SE' %]
            [% T.configure_7 %]
        [% ELSIF lang == 'fi-FI' %]
            [% T.configure_8 %]
        [% ELSE %]
            [% T.configure_7 %]
        [% END %]
    </a> &rsaquo; 
    [% IF lang == 'sv-SE' %]
        [% T.configure_9 %]
    [% ELSIF lang == 'fi-FI' %]
        [% T.configure_9 %]
    [% ELSE %]
        [% T.configure_9 %]
    [% END %] &rsaquo; 
    [% IF lang == 'sv-SE' %]
        [% T.configure_10 %]
    [% ELSIF lang == 'fi-FI' %]
        [% T.configure_11 %]
    [% ELSE %]
        [% T.configure_12 %]
    [% END %]
</div>

<div id="doc3" style="margin-left: 10px;">

    <form method="get">
        <input type="hidden" name="class" value="[% CLASS %]"/>
        <input type="hidden" name="method" value="[% METHOD %]"/>

        <p>
        <label for="config_param_a">
            [% IF lang == 'sv-SE' %]
                [% T.configure_13 %]
            [% ELSIF lang == 'fi-FI' %]
                [% T.configure_14 %]
            [% ELSE %]
                [% T.configure_15 %]
            [% END %]
        </label>
        <input type="text" name="config_param_a" value="[% config_param_a %]" />
        </p>

        <input type="hidden" name="save" value="1" />

        <input type="submit" value="[% IF lang == 'sv-SE' %]Spara konfiguration[% ELSIF lang == 'fi-FI' %]Tallenna asetukset[% ELSE %]Save configuration[% END %]" />
    </form>

    <hr/>

    <p>
        <h5>
            [% IF lang == 'sv-SE' %]
                [% T.configure_16 %]
            [% ELSIF lang == 'fi-FI' %]
                [% T.configure_17 %]
            [% ELSE %]
                [% T.configure_18 %]
            [% END %]
        </h5>
        [% IF last_upgraded %]
            [% IF lang == 'sv-SE' %]
                Pluginet uppgraderades senast på detta system den [% last_upgraded | $KohaDates with_hours => 1 %]
            [% ELSIF lang == 'fi-FI' %]
                Liitännäinen päivitettiin viimeksi tässä järjestelmässä [% last_upgraded | $KohaDates with_hours => 1 %]
            [% ELSE %]
                Plugin was last upgraded on this system on [% last_upgraded | $KohaDates with_hours => 1 %]
            [% END %]
        [% ELSE %]
            [% IF lang == 'sv-SE' %]
                [% T.configure_19 %]
            [% ELSIF lang == 'fi-FI' %]
                [% T.configure_20 %]
            [% ELSE %]
                [% T.configure_21 %]
            [% END %]
        [% END %]
    </p>
</div>

[% INCLUDE 'intranet-bottom.inc' %]